/* ====================== GLOBAL ======================= */
:root{
    --primary1: #335384;
    --primary2: #5BA7D1;
    --font-color1: #000;
    --font-color2: #e9ecf1;
    --font-size1: 1.25rem;
    --font-size2: 2.6rem;
}
@font-face {
    font-family: GlacialIndifference;
    src: url(./src/fonts/GlacialIndifference-Regular.otf) format('opentype');
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Assistant', sans-serif;
    font-size: var(--font-size1);
    margin: 0;
    padding: 0;
    overscroll-behavior-y: contain;
    background: var(--font-color2);
}
body > *{
    padding: 1rem;
}
/* =================== PROFILE ================== */
.profile, .contact{
    background: var(--primary1);
    color: var(--font-color2);
}
.profile{
    position: relative;
    padding-top: 100px;
}
.profile img{
    position: absolute;
    top: -68px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
/* Name */
.profile h1{
    margin: 0;
    padding-bottom: 0;
    font-family: GlacialIndifference, sans-serif;
    font-size: var(--font-size2);
    width: 100%;
}
/* Cargo */
.profile h3:nth-last-of-type(2){
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    color: var(--font-color2);
}
/* cargo > mark */
.profile h3:nth-last-of-type(2):before{
    content: " ";
    display: block;
    width: 3rem;
    height: 5px;
    background: var(--font-color2);
    border-radius: 2px;
    animation: color 3s infinite ease-out;
}
@keyframes color {
    0%{
        background: white;
    }
    10%{
        background: rgb(102, 226, 102);
        box-shadow: 0 0 16px 1px rgb(102, 226, 102);
    }
    100%{
        background: white;
    }
}
/* ============== HYSTORY ============*/
:where(.work, .education) h3:first-child{
    color: var(--primary1);
}
:where(.work, .education) ul li, .education p:last-child{
    font-weight: 300;
}
:where(.work, .education) ul li::marker{
    color: var(--primary2);
}
/* ============== CONTACT ============*/
.contact ul{
    list-style-type: none;
    padding: 0;
}
.contact ul li{
    margin: .5rem 0;
}
.contact ul li a{
    display: block;
    text-decoration: none;
    color: var(--font-color2);
    background: rgb(255,255,255,.1);
    padding: 1rem;
    border-radius: 5px;
}
.contact ul li a:hover{
    background: rgb(255,255,255,.2);
}
.icon{
    width: 20px;
    height: 20px;
    transform: translateY(4px);
    margin-right: 10px;
}
/* ========== BACKGROUND 2 ===============*/
.background1{
    background: url(./src/images/code.avif);
}
.background2{
    background: url('./src/images/code2.avif');
}
.background3{
    background: url('./src/images/code3.avif');
}
.background1, .background2, .background3{
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
:where(.background1, .background2, .background3) h3{
    color: var(--font-color2);
    letter-spacing: 4px;
    background: #444;
    padding: 1rem;
}
.history{
    background: var(--font-color2);
}