:root{
    --primary1: #335384;
    --primary2: #5BA7D1;
    --font-color1: #000;
    --font-color2: #fff;
    --font-size1: 1.25rem;
    --font-size2: 3.5rem;
}
@font-face {
    font-family: GlacialIndifference;
    src: url(./src/fonts/GlacialIndifference-Regular.otf) format('opentype');
}
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Assistant', sans-serif;
    font-size: var(--font-size1);
    margin: 0;
    overscroll-behavior-y: contain;
}
/* ============ HEADER ================= */
header{
    background: var(--primary1);
    color: var(--font-color2);
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile > * {
    padding: 1rem;
}
header ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}
header ul li{
    margin: 1rem 0;
}
header ul li a{
    display: block;
    padding: 1rem;
    border-radius: 5px;
    background: rgba(255,255,255,.1);
}
header ul li a:hover{
    background: rgba(255,255,255,.2);
}
.icon{
    width: 20px;
    margin: 0 1rem 0 0;
    transform: translateY(4px);
}
h3{
    letter-spacing: 1.5px;
}
    header a{
    color: var(--font-color2);
    text-decoration: none;
}
/* =============== M A I N ================ */
main{
    padding: 5%;
}
main > * {
    margin-bottom: 4rem;
}
main section > * {
    margin-bottom: 2%;
}
main section h1{
    font-family: GlacialIndifference, sans-serif;
    font-size: var(--font-size2);
    color: var(--primary1);
}
main section h2::before{
    content: " ";
    display: block;
    width: 12%;
    height: 5px;
    background: var(--primary1);
}
main section h2{
    color: var(--primary2);
}
main section h3:first-child{
    color: var(--primary2);
}
main section p:not(:first-child,:nth-child(2)){
    font-weight: 300;
}
main section ul li{
    margin-left: 1.3rem;
    font-weight: 300;
}
main section ul li::marker{
    color: var(--primary2);
}
/* ============= FOOTER ============== */
footer{
    color: var(--font-color2);
    text-align: center;
    background: var(--primary1);
}